* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 600px;
}

.container .btn-cart {
  margin: 50px 50px 20px 500px;
}

.container .products {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.container .product-item p {
  font-size: 20px;
  color: red;
  margin: 10px 0;
}

.container .rub {
  font-family: arial;
  vertical-align: middle;
  border-bottom: 1px solid;
  line-height: 6px;
  margin-right: 5px;
  display: inline-block;
  width: 0.4em;
}
